POSTGRES_HOST=localhost
POSTGRES_PORT=5437
POSTGRES_DB=payment_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<password>

# Service URLs (HTTP dependencies)
services.order.url=http://localhost:8084

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
