POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_DB=order_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

# Service URLs (HTTP dependencies)
services.account=http://localhost:8081
services.products=http://localhost:8082

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
