POSTGRES_HOST=localhost
POSTGRES_PORT=5435
POSTGRES_DB=cart_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<password>

# Service URLs (HTTP dependencies)
services.account.url=http://localhost:8081
services.products.url=http://localhost:8082
