POSTGRES_HOST=localhost
POSTGRES_PORT=5439
POSTGRES_DB=delivery_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<password>

# Service URLs (HTTP dependencies)
services.order=http://localhost:8084
services.courier=http://localhost:8086
